<div class="container page-section">
  <div class="row">
    <div class="col-lg-12">
      <p>Utilice el siguiente formulario de contacto para comunicar dudas, sugerencias, errores o cualquier otro aspecto relacionado con Medical Tests, 
        nuestro equipo lo revisará y se pondrá en contacto con usted lo antes posible, muchas gracias por su colaboración.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputsm">Nombre</label>
          <input class="form-control form-control-sm" id="inputsm" formControlName="name">
        </div>
        <div class="form-group">
          <label for="inputsm">Email</label>
          <input class="form-control form-control-sm" id="inputsm" formControlName="email">
        </div>
        <div class="form-group">
          <label for="inputsm">Mensaje</label>
          <textarea class="form-control form-control-sm" id="inputsm" formControlName="message" type="textarea" rows="4"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-sm float-right" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>