<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/']">Medical Tests</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" 
    (click)="switchShow()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': show}" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item position-relative">
          <span dropdown>
            <a class="nav-link dropdown-toggle" href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Tests</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
              <li *ngFor="let choice of tests">
                <a class="dropdown-item" (click)="navigateToTest('test', choice.name)">{{choice.title}}</a>
              </li>
            </ul>
          </span>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contacto</a>
      </li>
    </ul>
  </div>
</div>
</nav>