<div class="container page-section" *ngIf="test">
  <div class="row my-1">
    <div class="col-lg-12">
      <span class="h3 mr-1">{{test.title}}</span>
      <a [href]="test.link" target="_blank" *ngIf="test.link">
        <i class="fa fa-info-circle fa-custom-lg"></i>
      </a>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-lg-12">
      <h4 *ngIf="!finished">(Puntuación hasta el momento en este test: {{score}})</h4>
      <h4 class="alert alert-warning mt-2" *ngIf="finished">El test ha finalizado con un total de <strong>{{score}}</strong> puntos</h4>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-lg-12">
      <pagination class="pagination" [(ngModel)]="currentPage" [maxSize]="maxSize" itemsPerPage="1" [totalItems]="totalQuestions"
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;">
      </pagination>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ng-container *ngFor="let tooltip of test.tooltipsAbove; let first = first">
        <h4 [textContent]="tooltip" *ngIf="first"></h4>
        <h5 [textContent]="tooltip" *ngIf="!first"></h5>
      </ng-container>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12" *ngIf="questionGroup.tooltipsAbove">
      <ng-container *ngFor="let tooltip of questionGroup.tooltipsAbove; let first = first">
        <h4 [textContent]="tooltip" *ngIf="first"></h4>
        <h5 [textContent]="tooltip" *ngIf="!first"></h5>
      </ng-container>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <span *ngFor="let tooltip of question.tooltipsAbove" [textContent]="tooltip"></span>

          <div class="mb-2" [textContent]="question.title"></div>
          <img class="my-2" [src]="question.img" *ngIf="question.img">
          <div class="radio my-2" *ngFor="let answer of question.answers; let i = index">
            <label class="radio-container">
              <input type="radio" [attr.name]="question.id" [value]="answer.value" (click)="answerSelected(i)"
                [checked]="question.checkedIndex === i">
              <span class="radio-answer" [textContent]="answer.title"></span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="my-3">
            <span class="alert alert-secondary" *ngFor="let tooltip of questionGroup.tooltipsBelow" [textContent]="tooltip"></span>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-secondary" *ngIf="test.tooltipsBelow">
        <div *ngFor="let tooltip of test.tooltipsBelow">
          <span [textContent]="tooltip"></span>
        </div>
      </div>
    </div>
  </div>
</div>