<div class="container page-section">
  <div class="row">
    <div class="col-lg-12">
      <h1>¿Qué es MedicalTests?</h1>
      <p>Medical Tests es una plataforma cuyo objetivo
        es el de reunir herramientas de evaluación médica cuyo uso tradicional ha sido en
        formato papel y digitalizarlas. De esta forma se proporciona un acceso más ágil por los
        profesionales del sector.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>¿Qué tests puedo encontrar en esta plataforma?</h2>
      <p>En este estado inicial cuentas con cuatro tests diferentes a realizar</p>
      <ul>
        <li><a [routerLink]="['/test/GDS']">Escala de depresión geriátrica (YESAVAGE): Cuestionario corto</a></li>
        <li><a [routerLink]="['/test/mecLobo']">MINI EXAMEN COGNITIVO o MEC -de Lobo et al- (1979)</a></li>
        <li><a [routerLink]="['/test/minimentalState']">Minimental State</a></li>
        <li><a [routerLink]="['/test/tam']">T@M (Test de Alteración de la Memoria)</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>¿Cómo puedo enviar mis comentarios sobre la plataforma?</h2>
      <p>Estaríamos encantados de leer sus sugerencias y peticiones, por favor póngase en contacto con nosotros mediante la sección de 
        <a [routerLink]="['/contact']">contacto</a>
      </p>
    </div>
  </div>
</div>